#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "UMDF Indirect Display Driver Sample"
#define VER_INTERNALNAME_STR        "RustDeskIddDriver"
#define VER_ORIGINALFILENAME_STR    "RustDeskIddDriver.dll"

#include "common.ver"
